* {
	margin: 0;
	padding: 0;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}

body {
	background:linear-gradient(to bottom right, #1abc9c, #2980b9) fixed;
}

h1 {
	margin-bottom:30px;
}

#minutes {
	width:36px;
	font-size:30px;
}

#output {
	margin:20px 0;
	font-size:36px;
}
#timer {
	font-sizE:40px;
}

#start {
	padding:5px 10px;
}

#pause{
	padding:5px 10px;
	margin-left:20px;
}

#setTime {
	margin-top:10px;
	padding:5px 10px;
}